<!--底部start-->
	<!-- 工具栏 -->
<div class="tool">
	<a href="<?php echo U('frontend/index/index','',false);?>" class="jinzhitiaozhuan tool-item tool-active">
		<div class="tool-icon tool-icon-bg0"></div>
		<p class="tool-text text-center">首页</p>
	</a>
	<a href="javascript:alertMsg('提示','该功能暂未上线,敬请期待！');" class="jinzhitiaozhuan tool-item">
		<div class="tool-icon tool-icon-position1"></div>
		<p class="tool-text text-center">业务</p>
	</a>
	<a href="javascript:alertMsg('提示','该功能暂未上线,敬请期待！');" class="jinzhitiaozhuan tool-item">
		<div class="tool-icon tool-icon-position2"></div>
		<p class="tool-text text-center">服务</p>
	</a>
	<a href="{:U('frontend/member/index','',false)}" class="jinzhitiaozhuan tool-item">
		<div class="tool-icon tool-icon-position3"></div>
		<p class="tool-text text-center">我的</p>
	</a>
</div>
<!-- 工具栏结束 -->
	<!--底部end-->
