<div id="leftsead">
	<ul>
		<li><a class="leftsead-icon" href="javascript:void(0)" title="{$site_config.site_qq}" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin={$site_config.site_qq}&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"></a></li>
		<li>
			<a href="javascript:void(0)" class="leftsead-icon2" title="{$site_config.site_telphone}"></a>
		</li>
		<li>
			<a class="youhui leftsead-icon3">
				<img src="{$site_config.qr_url}" width="143" height="138" class="hides" usemap="#taklhtml" style="top: 50px; *top: 60px; margin-right: 6px" />
				<map name="taklhtml"><area shape="rect" coords="26,273,115,300" href="#"/></map>
			</a>
		</li>
		<li>
			<div class="returnTop" title="返回顶部！">
				<span class="s"></span> 返回顶部
			</div>
		</li>
	</ul>
</div>