<!--底部start-->
	<div class="gt-footer">
		<div class="gt-row">
			<div class="gt-footer-main">
				<ul class="gt-item">
					<li class="gt-item-li">
						<h3 class="gt-item-title">常见问题</h3>
						<ul class="gt-item-subcontent">
							<li><a href="{:U('Help/helpindex','',false)}">新手专区</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">使用指引</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">备案帮助</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">服务协议</a></li>
						</ul>
					</li>
					<li class="gt-item-li">
						<h3 class="gt-item-title">产品帮助</h3>
						<ul class="gt-item-subcontent">
							<li><a href="{:U('Help/helpindex','',false)}">会员登录常见问题 </a></li>
							<li><a href="{:U('Help/helpindex','',false)}">充值支付问题</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">合同发票问题</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">产品问题反馈</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">管理功能问题</a></li>
							<li><a href="{:U('Help/helpindex','',false)}">其他问题</a></li>
						</ul>
					</li>
					<li class="gt-item-li">
						<h3 class="gt-item-title">快速入口</h3>
						<ul class="gt-item-subcontent">
							<li><a href="{:U('member/index','',false)}">会员管理登录</a></li>
							<li><a href="https://ssp.zzidc.com/index.jsp">自助管理平台</a></li>
							<li><a href="<?php echo $site_config['promotion_link'];?>" target="_blank">网站备案中心</a></li>
							<li><a href="http://www.zzidc.com/main/cloudvps/checkTheIpAuthenticity.html" target="_blank">快云VPS真伪查询</a></li>
							<li><a href="http://bbs.zzidc.com/">产品交流论坛</a></li>
						</ul>
					</li>
					<li class="gt-item-li">
						<h3 class="gt-item-title">活动专区</h3>
						<ul class="gt-item-subcontent">
							<li><a href="<?php echo U('Frontend/Article/articlelist/',['type'=>2],false)?>">优惠活动</a></li>
						</ul>
					</li>
					<li class="gt-item-li-small text-center">
                    	<h3 class="gt-item-title">关注官方微信</h3>
						<ul class="agent-btm-li">
                        	<li class="gt-item-title"></li>
							<li><img src="{$site_config.qr_url}" alt="二维码" class="gt-item-qr"></li>
							<li><a href="javascript:void(0)" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin={$site_config.site_qq}&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">
								<i class="phoneicon"></i>{$site_config["site_qq2"]}</a></li>
                            <li><a href="javascript:void(0)" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin={$site_config.site_qq2}&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">
								<i class="phoneicon"></i>{$site_config["site_qq3"]}</a></li>
                            <li><a><i class="tencenicon"></i>{$site_config["site_telphone"]}</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="gt-copyright">
				<div class="copyright-link text-center">
					<a href="{:U('About/about','',false)}">关于我们</a>
					<a href="{:U('Article/articlelist','',false)}">新闻公告</a>
					<a href="{:U('About/friendlylink','',false)}">友情链接</a>
				</div>
				<p class="text-center">
				<?php if($site_config['police_record'] != '0'){?>
					<img  src="__FRONTEND_IMAGES__beian.png" />公网安备：<a href="<?php echo $site_config['police_record_url'];?>" ><?php echo $site_config['police_record'];?></a>
					<br/>
				<?php }?>
				<?php echo $site_config['site_name'];?>备案号：<a href="http://www.miitbeian.gov.cn/" ><?php echo $site_config['site_post_record'];?></a>
				<br/>
				官方地址：<a href="<?php echo U('Frontend/Index/index', [], false);?>"><?php echo $_SERVER['SERVER_NAME'];?></a>&nbsp;&nbsp;版权所有：<?php echo $site_config['site_name'];?><?php echo htmlspecialchars_decode($site_config['statistics']);?>
				<br/>
				公司地址：<?php echo $site_config['site_address'];?>&nbsp;&nbsp;邮政编码：<?php echo $site_config['site_post_code'];?>
				</p>
			</div>
		</div>
	</div>
	<!--底部end-->
