<!--首页产品start-->
<div class="gfff ">
		<div class="ky-container">
			<div class="ky-prduct">
				<h4 class="txt-center"><span class="h4-f24">{$site_config.site_name}为您提供快速、稳定、安全的专业云计算服务</span></h4>
			</div>
			<div class="ky-grids ky-grids-bottom clearfix">
				<div class="ky-unit-6-24">
					
					<div class="unit-box">
						<div class="pd-item-name">
							<img class="pd-img" src="__FRONTEND_IMAGES__common/configimg60x60.png" alt="">
							<h3>快云服务器</h3>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><span class="sub-name">处理弹性伸缩，全SSD固态磁盘三副本</span></li>
								<li><span class="sub-name">存储，高IO、高可用</span></li>
								<li><span class="gff9">&#165;51/月起</span></li>
								<li><a href="<?php echo U('frontend/cloudserver/cloudserverShow','',false);?>" class="link-buy">立即购买</a></li>
								<li></li>
							</ul>
						</div>
					</div>
				
				</div>
				<div class="ky-unit-6-24">
					<div class="unit-box">
						<div class="pd-item-name">
							<img class="pd-img" src="__FRONTEND_IMAGES__common/vpsimg60x60.png" alt="">
							<h3>快云VPS</h3>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><span class="sub-name">多线骨干网接入、站库分离更快速</span></li>
								<li><span class="sub-name">免费赠送云数据库</span></li>
								<li><span class="gff9">&#165;49/月起</span></li>
								<li><a href="<?php echo U('frontend/product/vps/',['type'=>fastvps],false);?>" class="link-buy">立即购买</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ky-unit-6-24">
					<div class="unit-box">
						<div class="pd-item-name">
							<img class="pd-img" src="__FRONTEND_IMAGES__common/virtualhostimg60x60.png" alt="">
							<h3>虚拟主机</h3>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><span class="sub-name">高速、免备案、集群架构，分布式部署</span></li>
								<li><span class="sub-name">千兆带宽，满足各式客户要求</span></li>
								<li><span class="gff9">&nbsp;</span></li>
								<li><a href="<?php echo U('frontend/product/virtualhost/',['type'=>host],false);?>" class="link-buy">立即购买</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<!-- 	<div class="ky-grids clearfix">
				<div class="ky-unit-6-24">
					<div class="unit-box">
						<div class="pd-item-name">
							<a href="">
								<img class="pd-img" src="__FRONTEND_IMAGES__common/elasticimg60x60.png" alt="">
								<h3>快云SSL</h3>
							</a>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><a class="sub-name">开启HTTPS绿色通道、保护数据传输安全</a></li>
								<li><a class="sub-name">安全、可信</a></li>
								<li><a class="gff9">&nbsp;</a></li>
								<li><a href="javascript:void(0)"  onclick="alert('产品暂未上线！');"  class="link-buy">查看详情</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ky-unit-6-24">
					<div class="unit-box">
						<div class="pd-item-name">
							<a href="kyundatabase/showdbmes">
							<img class="pd-img" src="__FRONTEND_IMAGES__common/databaseimg60x60.png" alt="">
							<h3>快云数据库</h3>
							</a>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><a href="javascript:void(0)"  onclick="alert('产品暂未上线！');" class="sub-name">弹性MySQL数据库，主从架构</a></li>
								<li><a  href="javascript:void(0)"  onclick="alert('产品暂未上线！');" class="sub-name">读写分离，快速高效</a></li>
								<li><a  href="javascript:void(0)"  onclick="alert('产品暂未上线！');" class="gff9">¥40/月起</a></li>
								<li><a  href="javascript:void(0)"  onclick="alert('产品暂未上线！');" class="link-buy">立即购买</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ky-unit-6-24">
					<div class="unit-box">
						<div class="pd-item-name">
							<img class="pd-img" src="__FRONTEND_IMAGES__common/domainimg60x60.png" alt="">
							<h3>域名</h3>
						</div>
						<div class="pd-item-sub">
							<ul class="sub-list">
								<li><span class="sub-name">为用户提供高级资质认证国内域名、品质服务</span></li>
								<li><span class="sub-name">先进的域名管理平台等服务</span></li>
								<li><span class="gff9">&nbsp;</span></li>
								<li><a href="<?php echo U('frontend/domain/domain/','',false);?>" class="link-buy">立即注册</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>	 -->		
		</div>
	</div>
	<!--首页产品end-->