<!--服务 start-->
<div class="fuwu-box">
    <div class="ky-container">
        <div class="d-tbc-vps d-tbc-first">
            <a target="_blank" href="{:U('Index/SLA','',false)}" class="service-item first-service-item">
                <span class="term term-1"></span>
            </a>
        </div>
        <div class="d-tbc-vps">
            <a target="_blank" href="{:U('Index/full_refund','',false)}" class="service-item">
                <span class="term term-2"></span>
            </a>
        </div>
        <div class="d-tbc-vps">
            <a target="_blank" href="{:U('Index/worryfree_service','',false)}" class="service-item">
                <span class="term term-5"></span>
            </a>
        </div>
        <div class="d-tbc-vps">
            <a target="_blank" class="service-item">
                <span class="term term-4 last-vps"></span>
            </a>
        </div>
    </div>
</div>
<!--服务 end-->