
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__plugin/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/bootstrap-theme-ky.css">
<!--<link rel="stylesheet" href="__FRONTEND_MEMBER__css/bootstrap-theme-ny.css">-->
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/console-common.css">
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/console-component.css">
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/console-index.css">
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/server.css">
<!-- dialog弹框样式 -->
<link rel="stylesheet" type="text/css" href="__COM_JS__dialog/css/jquery-ui-1.9.2.custom.css" />
<link rel="stylesheet" type="text/css" href="__COM_JS__dialog/css/uidialog.css" />
<!-- IE9 以下需要的资源 -->
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="__FRONTEND_MEMBER__css/bsIE7-8/bsIE7-8.css">
<script src="__FRONTEND_MEMBER__css/plugin/html5shiv/html5shiv.min.js"></script>
<script src="__FRONTEND_MEMBER__css/plugin/respond/respond.min.js"></script>
<script src="__FRONTEND_MEMBER__css/plugin/PIE/PIE.js"></script>
<![endif]-->
