<?php
$site_config = WebSiteConfig();
?>
<!doctype html>
<html>
<head lang="en">
<title>{$site_config.site_title}-产品管理中心</title>
<meta name="keywords" content="{$site_config.site_title} -产品管理中心" />
<meta name="description" content="{$site_config.site_title} -产品管理中心" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<!-- 引用头部 -->
<include file="Hyzx/member_head" />
<block name="links"></block>
</head>
<body>

<!-- 引用顶部 -->
<include file="Hyzx/member_top" />

	<!-- 引用左侧导航 -->
<include file="Hyzx/member_menu" />

<block name="right"></block>

</body>
<include file="Hyzx/member_scripts" />
<block name="script"></block>
</html>
