<extend name="Layouts/layout" />
<block name="links">
	<link rel="stylesheet" href="__COM_STATICS__bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
</block>
<block name="content">
	<div class="page-header">
		<h1>
			<i class="fa fa-home"></i> 首页
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				业务管理 &amp; 录入VPS业务
			</small>
			<a class="btn btn-info btn-sm btn-white pull-right" href="<?php echo U('Backend/Vps/index', [  ], false);?>">VPS列表</a>
		</h1>
	</div><!-- end/.page-header -->
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" action="<?php echo U('Backend/Vps/recording',[],false);?>" role="form" method="post" name="update" id="update">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="business_id">
						<span style="color:red;" class="fa fa-asterisk"></span>
						API业务编号：
					</label>
					<div class="col-sm-9">
						<input type="text" name="business_id"  id="business_id" onblur="get_synchronization_info()" value="" class="col-xs-10 col-sm-5">
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="product_name">
						<span style="color:red;" class="fa fa-asterisk"></span>产品名称：</label>
					<div class="col-sm-9">
						<input type="text" name="product_name"  id="product_name" value="" class="col-xs-10 col-sm-5" >
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="ip_address">
						<span style="color:red;" class="fa fa-asterisk"></span>
						IP地址：
					</label>
					<div class="col-sm-9">
						<input type="text"  name="ip_address"  id="ip_address"   value="" class="col-xs-10 col-sm-5">
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle"></span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="overdue_time">
						<span style="color:red;" class="fa fa-asterisk"></span>
						到期时间：</label>
					<div class="col-sm-9">
						<input type="text"  name="overdue_time"  id="overdue_time"   value="" class="col-xs-10 col-sm-5 date-picker" data-date-format="yyyy-mm-dd hh:ii:ss">
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle"></span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="service_time">
						<span style="color:red;" class="fa fa-asterisk"></span>
						购买时间：</label>
					<div class="col-sm-9">
						<input type="number"  name="service_time"  id="service_time"   value="" class="col-xs-10 col-sm-5" >
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle">月</span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="free_trial">
						<span style="color:red;" class="fa fa-asterisk"></span>
						免费试用天数
					</label>
					<div class="col-sm-9">
						<input type="text"  id="free_trial" name="free_trial"  value="" class="col-xs-10 col-sm-5">
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle">0为购买,大于0为试用</span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="system_user">
						<span style="color:red;" class="fa fa-asterisk"></span>
						VPS用户名：
					</label>
					<div class="col-sm-9">
						<input type="text"  name="system_user"  id="system_user"   value="" class="col-xs-10 col-sm-5">
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle"></span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="state">
						<span style="color:red;" class="fa fa-asterisk"></span>
						VPS状态：
					</label>
					<div class="col-sm-9">
						<select class="col-xs-10 col-sm-5" name="state" id="state">
							<?php foreach($state as $k => $v):?>
							<option value="<?php echo $k;?>" <?php if($k == $entity['state']):?>selected="selected"<?php endif;?> >
							<?php echo $v;?>
							</option>
							<?php endforeach;?>
						</select>
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle"></span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="area_code"> 所属地区 </label>
					<div class="col-sm-9">
						<select class="col-xs-10 col-sm-5" name="area_code" id="area_code">
							<?php foreach($extra['area_code'] as $k => $v):?>
							<option value="<?php echo $k?>" >
								<?php echo $v;?>
							</option>
							<?php endforeach;?>
						</select>
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle"></span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"  for="note_appended">
						详细说明：
					</label>
					<div class="col-sm-9">
						<textarea class="limited col-xs-10 col-sm-5" id="note_appended" name="note_appended" maxlength="100"></textarea>
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle">最多100个字</span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="login_name">
						会员账号：
					</label>
					<div class="col-sm-9">
						<input type="text" readonly="readonly"  id="login_name"  value="" class="col-xs-10 col-sm-5">
						<input type="hidden"  id="user_id" name="user_id"  value="" >
						<span class="help-inline col-xs-12 col-sm-7">
							<span class="middle">
								<a href="javascript:void(0);" onclick="selectMember()">会员(点击选择会员)</a>
							</span>
						</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit" >
							<i class="ace-icon fa fa-check bigger-110"></i>
							录入
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="scripts">
	<div id="limiterBox" class="limiterBox" style="position: absolute; display: none;"></div>
	<!-- <script src="__COM_JS__jquery.validate.min.js"></script> -->
	<script src="__COM_JS__jquery.validate_tuozhan.js"></script>
	<script src="__COM_JS__messages_zh.js"></script>
	<script src="__COM_STATICS__bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="__COM_STATICS__bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="__BACKEND_ACEADMIN__js/jquery.inputlimiter.1.3.1.min.js"></script>
	<script type="text/javascript">
		function get_synchronization_info() {
			var business_id = $("#business_id").val();
			var url = "<?php echo U('Backend/Vps/get_synchronization_info',[],false);?>";
			$.post(url,{"business_id":business_id},function(data){
				if(data.status == 0){
					alert(data.info);
				}else{
					var json = eval(data.info);
					var ip = json["info"]["Extir"]["ip"];
					var overdue_time = json["info"]["Extir"]["overDate"];
					var service_time=json["info"]["Extir"]["serviceTime"];
					var userName=json["info"]["Extir"]["userName"];
					var status=json["info"]["Extir"]["status"];
					var area_code=json["info"]["Extir"]["areaCode"];
					var product_name=json["info"]["Extir"]["product_name"];
                    $("#product_name").val(product_name);
					$("#ip_address").val(ip);
					$("#overdue_time").val(overdue_time);
					$("#service_time").val(service_time);
					$("#system_user").val(userName);
					if(1 == status || 0==status ){
						$("#state option:nth-child(1)").attr('selected','selected');
					}else if(2==status){
						$("#state option:nth-child(2)").attr('selected','selected');
					}else if(3==status){
						$("#state option:nth-child(3)").attr('selected','selected');
					}else if(4==status){
						$("#state option:nth-child(4)").attr('selected','selected');
					}
					if(area_code==4001){
						$("#area_code option:nth-child(1)").attr('selected','selected');
					}else if(area_code==4002){
						$("#area_code option:nth-child(2)").attr('selected','selected');
					}else if(area_code==4003){
						$("#area_code option:nth-child(3)").attr('selected','selected');
					}else if(area_code==4005){
						$("#area_code option:nth-child(4)").attr('selected','selected');
					}else if(area_code==4008){
						$("#area_code option:nth-child(5)").attr('selected','selected');
					}
					if(status==0){
						$("#free_trial").val(0);
					}else{
						$("#free_trial").val(1);
					}
				}
			});
		}
		$('textarea.limited').inputlimiter({
			remText: '还可以在输入%n个字',
			limitText: '最多只允许输入 %n个字.'
		});
		$('.date-picker').datetimepicker({
			language: 'zh-CN',
			autoclose: true,
			todayHighlight: true,
			minuteStep:1
		});
		function selectMember(){
			var subWindow = window.open("<?php echo U('Backend/Member/radio', [], false)?>",'newwindow','width=900,height=800,scrollbars=yes');

		}
		window._callback = function(uid, uname){
			if (!uid) {
				alert('您没有选择转让会员');
				return false;
			}
			$('#user_id').val(uid);
			$('#login_name').val(uname);
		};
        var tooken = true;
        function updater(form){
            if(tooken)
            {
                tooken = false;
                form.submit();
            }
        }
		$("#update").validate({
			submitHandler:function(form){
				updater(form);
			},
			onclick:false,
			onfocusout:false,
			onkeyup:false,
			errorPlacement: function (error, element){
				var $alert = $('<div class="alert alert-danger "><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><strong><i class="ace-icon fa fa-times"></i>错误： </strong> '+$(error).html()+' <br> </div>');
				$("#update").before($alert);
			},
			rules:{
				state:{
					required:true,
					number:true
				},
				overdue_time:{
					required:true,
					date:true
				},
				service_time:{
					required:true,
					digits:true
				},
				free_trial:{
					required:true,
					digits:true
				},
				ip_address:{
					required:true
				},
				user_id:{
					required:true
				}
			},
			messages:{
				state:{
					required:"业务状态必须选择",
					number:"业务状态参数格式不对"
				},
				overdue_time:{
					required:"到期时间不能为空",
					date:"到期时间格式非法"
				},
				service_time:{
					required:"购买时间不能为空",
					digits:"购买时间必须输入整数"
				},
				free_trial:{
					required:"免费试用天数不能为空",
					digits:"免费试用天数必须输入整数"
				},
				ip_address:{
					required:"IP地址必须填写"
				},
				user_id:{
					required:"会员必须选择"
				}
			}
		});
	</script>
</block>