<extend name="Hyzx/member" />
<block name="links"></block>
<block name="right">
    <!--ky-main start-->
    <div class="ky-main home-page">
        <div class="crumb-container" data-nav="phoenix">
            <ol class="breadcrumb ky-crumb">
                <li><a href="<?php echo U('frontend/member/index','',false);?>" class="crumb-home">会员中心</a></li>
                <li><a href="<?php echo U('frontend/order/orderlist','',false);?>">订单管理</a></li>
                <li><a>快云数据库开通</a></li>
            </ol>
        </div>
        <div class="">
            <div class="conseole-ky-fuwuqi">
                <div class="ky-panel-heading clearfix">
                    <div class="ky-panel-title">快云数据库开通<a href="#" class="btn-primary btn-reverse btn-icon-return margin-left-10">返 回</a></div>
                </div>
                <div class="ky-panel-body">
                    <form action="<?php echo U('frontend/clouddb/clouddb_open','',false);?>" method="post" id="order_form" class="form-horizontal ky-form margin-bottom-60 tab-group-2">
                        <input type="hidden" name="product_id" value="{$order_info.product_id}"/>
                        <input type="hidden" name="order_id" value="{$order_info.id}"/>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long font-size-14">
                                <span class="necessary-mark">*</span>
                                <span class="inline-block">数据库名：</span>
                            </div>
                            <div class="col-xs-8 ky-form-control validate-control">
                                <div class="input-contain width426">
                                    <input type="text" value="" name="db_name" class="ky-input-reset width426" placeholder="由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长64个字符">
                                </div>
                                <div class="error-reminder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long font-size-14">
                                <span class="necessary-mark">*</span>
                                <span class="inline-block">数据库用户：</span>
                            </div>
                            <div class="col-xs-8 ky-form-control validate-control">
                                <div class="input-contain width426">
                                    <input type="text" value="" name="db_user" class="ky-input-reset width426" placeholder="由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长14个字符">
                                </div>
                                <div class="error-reminder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long font-size-14">
                                <span class="necessary-mark">*</span>
                                <span class="inline-block">数据库密码：</span>
                            </div>
                            <div class="col-xs-8 ky-form-control validate-control">
                                <div class="input-contain width426">
                                    <input type="text" value="" name="db_psd" id="db_psd" class="ky-input-reset width426" placeholder="字母、数字或下划线组成，长度6~32位">
                                </div>
                                <div class="error-reminder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long font-size-14">
                                <span class="necessary-mark">*</span>
                                <span class="inline-block">确认密码：</span>
                            </div>
                            <div class="col-xs-8 ky-form-control validate-control">
                                <div class="input-contain width426">
                                    <input type="text" value="" name="db_rpsd" class="ky-input-reset ky-long-input width426" placeholder="字母、数字或下划线组成，长度6~32位">
                                </div>
                                <div class="error-reminder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long font-size-14">
                                <span class="necessary-mark">*</span>
                                <span class="inline-block">编码：</span>
                            </div>
                            <div class="col-xs-8 ky-form-control validate-control">
                                <div class="input-contain width426">
                                    <select name="db_type" class="ky-input-reset width426">
                                        <option value="utf8">utf-8</option>
                                        <option value="gbk">gbk</option>
                                        <option value="latin1">latin1</option>
                                    </select>
                                </div>
                                <div class="error-reminder"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ky-control-label ky-label-long">&nbsp;</div>
                            <div class="col-xs-8 ky-form-control">
                                <a href="javascript:;" onclick="$('#order_form').submit();" class="btn btn-default chongzhi-btn">确定</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__COM_JS__jquery.validate_tuozhan.js"></script>
    <script type="text/javascript">
        var open = true;
        function Submit(form){
            if(open)
            {
                open = false;
                $(".chongzhi-btn").html("开通中...");
                var open_info = $(form).serialize();
                $.ajax({
                    type: "POST",
                    url: "<?php echo U('frontend/clouddb/clouddb_open','',false);?>",
                    dataType: 'json',
                    data: open_info,
                    success: function (data) {
                        alert(data.info);
                        open = true;
                        setTimeout(function(){window.location.href=data.url;},2000);
                    }
                });
            }
        }
        jQuery.validator.addMethod("sjkm", function(value,element) {
            return this.optional(element) || /^[a-z]{1}\w{0,63}$/.test(value);
        }, "<i class='error-icon'></i>请输入正确格式的数据库名（由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长64个字符）");
        jQuery.validator.addMethod("sjkyhm", function(value,element) {
            return this.optional(element) || /^[a-z]{1}\w{0,13}$/.test(value);
        }, "<i class='error-icon'></i>请输入正确格式的数据库用户名（由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长14个字符）");
        jQuery.validator.addMethod("sjkmm", function(value,element) {
            return this.optional(element) || /^\w{6,32}$/.test(value);
        }, "<i class='error-icon'></i>请输入正确格式的数据库密码（字母、数字或下划线组成，长度6~32位）");
        $("#order_form").validate({
            submitHandler:function(form){
                Submit(form);
//                form.submit();
            },
            errorPlacement: function(error,element) {
                var error_msg = $(error).html();
                $(element).parent().next("div").html(error_msg);
            },
            rules:{
                db_name:{
                    required:true,
                    sjkm:true
                },
                db_user:{
                    required:true,
                    sjkyhm:true
                },
                db_rpsd:{
                    required:true,
                    equalTo:"#db_psd"
                },
                db_psd:{
                    required:true,
                    sjkmm:true
                },
                db_type:{
                    required:true
                }
            },
            messages:{
                db_name:{
                    required:"<i class='error-icon'></i>请输入数据库名（由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长64个字符）"
                },
                db_user:{
                    required:"<i class='error-icon'></i>请输入数据库用户名(由小写字母、数字、下划线组成，字母开头，字母或数字结尾，最长14个字符)"
                },
                db_rpsd:{
                    required:"<i class='error-icon'></i>请输入确认密码（确认密码必须和密码一致）",
                    equalTo:"<i class='error-icon'></i>确认密码必须和密码一致"
                },
                db_psd:{
                    required:"<i class='error-icon'></i>请输入数据库密码（字母、数字或下划线组成，长度6~32位）"
                }
            },
            success: function(label,element) {
                $(element).parent().next("div").html("<i class='sure-icon'></i>");
            }
        });
    </script>
</block>