<extend name="Layouts/layout" />
<block name="links">
    <link rel="stylesheet" type="text/css" href="__FRONTEND_CSS__base-productnav.css">
    <link rel="stylesheet" type="text/css" href="__FRONTEND_CSS__config.css">
    <style>
        .disabletrain{background:#a7afb3;width: 110px;height: 36px;line-height: 36px;display: inline-block;color: #fff;font-size: 14px;margin-left: 10px;text-align: center;cursor:default;}
        .disabletrain:hover{color: #fff;}
    </style>
</block>
<block name="content">
    <!--快云服务器标题 start-->
    <div class="ky-nav-box">
        <div class="ky-container">
            <i class="i-line"></i><span class="g333">快云数据库</span>
        </div>
    </div>
    <!--快云服务器标题 end-->
    <!--快云服务器购买配置 end-->
    <div class="ky-container clearfix">
        <div class="contentbox content-left">
            <div class="listitem">
                <div class="item-left">
                    <span>类型：</span>
                </div>
                <div class="item-right jifang-item" style="padding-top:10px">
                    <ul class="ul-item">
                        <li><a href="clouddbdx" class="liselect">独享版</a></li>
                        <!--<li class="libg"><a href="clouddbgx">共享版</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="listitem">
                <div class="item-left">
                    <span>推荐配置：</span>
                </div>
                <div class="item-right jifang-item" style="padding-top:10px">
                    <ul class="ul-item mbottom10" id="pzul">
                        <li><a href="javascript:;" class="liselect">微型</a></li>
                        <li class="libg"><a href="javascript:;" >小型</a></li>
                        <li class="libg"><a href="javascript:;" >中型</a></li>
                        <li class="libg"><a href="javascript:;" >大型</a></li>
                    </ul>
                    <!--快云服务器Ⅰ型-->
                    <div class="itemtips" >
                        <p>适合用户：静态展示类网站，企业站个人博客首选</p>
                    </div>
                    <!--快云服务器Ⅱ型-->
                    <div class="itemtips" style="display:none">
                        <p>适合用户：行业分类信息，行业性网站，论坛，门户网站，个人站长，初创型中小企业网站</p>
                    </div>
                    <!--快云服务器Ⅲ型-->
                    <div class="itemtips" style="display:none">
                        <p>适合用户：企业品牌类网站，政府官网，社区网站</p>
                    </div>
                    <!--快云服务器Ⅳ型-->
                    <div class="itemtips" style="display:none">
                        <p>适合用户：网商、团购类网站，视频网站，大型购物网站</p>
                    </div>
                </div>
            </div>
            <div class="listitem">
                <div class="item-left">
                    <span>选择版本：</span>
                </div>
                <div class="item-right jifang-item" style="padding-top:10px">
                    <ul class="ul-item" id="choosebb">
                        <li class="liselect"><a href="javascript:;" class="liselect">MySql5.5</a></li>
                        <li class="libg"><a href="javascript:;">MySql5.6</a></li>
                    </ul>
                </div>
            </div>
            <div class="listitem">
                <div class="item-left">
                    <span>选择机房：</span>
                </div>
                <div class="item-right jifang-item" style="padding-top:10px">
                    <ul class="ul-item" id="choosejf">
                        <li>
                            <a id="4001" class="liselect"  href="javascript:void(0)" dqbh="4001" onclick="selectZone(this)">郑州机房</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="listitem">
                <div class="item-left"><span>内存：</span></div>
                <div class="item-right jifang-item ptop10">
                    <div class="xxin">
                        <div class="divselect-box1 divselect2 divselect-bg" style="margin-left:2px">
                            <cite  id="showcite">240MB</cite>
                            <ul style="text-indent: 10px; display: none;" id="showmemul">
                            </ul>
                        </div>
                        <div style="float:left;line-height:28px;margin-left:10px"><span>最大连接数:&nbsp;</span><span id="conn">60</span><span>&nbsp;&nbsp;&nbsp;IOPS:&nbsp;</span><span id="iops">320</span></div>
                    </div>
                </div>
            </div>
            <div class="listitem">
                <div class="item-left">
                    <span>存储空间：</span>
                </div>
                <div class="item-right jifang-item ptop10">
                    <div class="slider-date" id="slider-date-1">
                        <!--底层-->
                        <ul class="slider-bg clearfix" >
                            <li style="width:20px">5G</li>
                            <li style="width:90px">50G</li>
                            <li style="width:90px">100G</li>
                            <li style="width:105px">500G</li>
                            <li style="width:105px">700G</li>
                            <li style="width:105px;">1000G</li>
                        </ul>
                        <!--互动层-->
                        <div class="slider-bar">
                            <ul class="slider-bg clearfix">
                                <li width_=25 skip=5 min=0 style="width:20px">5G</li>
                                <li width_=100 skip=5 min=5 style="width:90px">50G</li>
                                <li width_=100 skip=5 min=50 style="width:90px">100G</li>
                                <li width_=110 skip=5 min=100 style="width:105px">500G</li>
                                <li width_=110 skip=5 min=500 style="width:105px">700G</li>
                                <li width_=105 skip=5 min=700 style="width:105px;">1000G</li>
                            </ul>
                            <!--滑块按钮-->
                            <a href="javascript:;"  class="slider-bar-btn"><i></i><i></i></a>
                        </div>
                    </div>
                    <div class="shuju-box">
                        <input type="text"  onkeyup="this.value=this.value.replace(/\D/g,'')" class="bk-disk-input" onafterpaste="this.value=this.value.replace(/\D/g,'')" id="diskinput">
                    </div>
                    <div class="shuju-danwei">
                        G
                    </div>
                    <div class="shuju-box30">
                        <span class="bk-number-arrow"></span>
                        <span class="bk-number-arrow2"></span>
                    </div>
                </div>
            </div>
            <div class="listitem m-top10">
                <div class="item-left">
                    <span>选择时长：</span>
                </div>
                <div class="item-right jifang-item ptop10 ">
                    <div class="slider-date" id="slider-date-1">
                        <!--底层-->
                        <ul class="slider-bg clearfix">
                            <li style="width:38px;">1</li>
                            <li style="width:38px;">2</li>
                            <li style="width:38px;">3</li>
                            <li style="width:38px;">4</li>
                            <li style="width:38px;">5</li>
                            <li style="width:38px;">6</li>
                            <li style="width:38px;">7</li>
                            <li style="width:38px;">8</li>
                            <li style="width:38px;">9</li>
                            <li style="width:38px;text-align:right;margin-right:8px;"><i class="hui"></i>1年</li>
                            <li style="width:38px;text-align:right;margin-right:8px;"><i class="hui"></i>2年</li>
                            <li style="width:38px;text-align:right;margin-right:8px;"><i class="hui"></i>3年</li>
                        </ul>
                        <!--互动层-->
                        <div class="slider-bar">
                            <ul class="slider-bg clearfix">
                                <li width_=45 skip=1 min=0 style="width:38px;">1<span>1个月</span></li>
                                <li width_=45 skip=1 min=1 style="width:38px;">2<span>2个月</span></li>
                                <li width_=45 skip=1 min=2 style="width:38px;">3<span>3个月</span></li>
                                <li width_=45 skip=1 min=3 style="width:38px;">4<span>4个月</span></li>
                                <li width_=45 skip=1 min=4 style="width:38px;">5<span>5个月</span></li>
                                <li width_=45 skip=1 min=5 style="width:38px;">6<span>6个月</span></li>
                                <li width_=45 skip=1 min=6 style="width:38px;">7<span>7个月</span></li>
                                <li width_=45 skip=1 min=7 style="width:38px;">8<span>8个月</span></li>
                                <li width_=45 skip=1 min=8 style="width:38px;">9<span>9个月</span></li>
                                <li width_=46 skip=3 min=9 style="width:38px;text-align:right;margin-right:8px;width:42px"><i class="hui2"></i>1年</li>
                                <li width_=52 skip=12 min=12 style="width:38px;text-align:right;margin-right:8px;width:42px"><i class="hui2"></i>2年</li>
                                <li width_=52 skip=12 min=24 style="width:38px;text-align:right;margin-right:8px;width:42px"><i class="hui2"></i>3年</li>
                            </ul>
                            <!--滑块按钮-->
                            <a href="javascript:;" class="slider-bar-btn"><i></i><i></i></a>
                        </div>
                    </div>
                    <div class="shuju-box">
                        <input type="text"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="bk-disk-input" id="timeinput" value="1">
                    </div>
                    <div class="shuju-danwei">
                        月
                    </div>
                    <div class="shuju-box30">
                        <span class="bk-number-arrow"></span>
                        <span class="bk-number-arrow2"></span>
                    </div>
                    <div class="year-tip-box">
                        <div class="year-tip" style="display:none;left:500px;">
                            仅需10个月费用即可享受12个月服务
                            <div class="year-tip-img"></div>
                        </div>
                        <div class="year-tip" style="display:none;left:550px;">
                            仅需20个月费用即可享受24个月服务
                            <div class="year-tip-img"></div>
                        </div>
                        <div class="year-tip" style="display:none;left:600px;">
                            仅需30个月费用即可享受36个月服务
                            <div class="year-tip-img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav_left_layout" class="content-right mtop30">
            <h5 class="content-right-h5">
                当前配置
            </h5>
            <ul class="content-right-ul ptop10 clearfix">
                <li>
                    <div class="content-right-title">机房：</div>
                    <div class="content-right-title2">郑州机房</div>
                </li>
                <li>
                    <div class="content-right-title">内存：</div>
                    <div class="content-right-title2">240MB</div>
                </li>
                <li>
                    <div class="content-right-title">硬盘：</div>
                    <div class="content-right-title2">5G</div>
                </li>
                <li>
                    <div class="content-right-title">时长：</div>
                    <div class="content-right-title2">1个月</div>
                </li>
                <li>
                    <div class="content-right-title">总价：</div>
                    <div class="content-right-title2"><span class="fwqxh-price">0</span>元</div>
                </li>
            </ul>
            <div class="buy-bottom">
                <a href="javascript:void(0);" id="buy" class="xze-link3" onclick="buy()">立即购买</a>
                <!--<a href="javascript:;" id="train" class="xze-link4">申请试用</a>-->
            </div>
        </div>
    </div>
    <form action="<?php echo U('frontend/clouddb/clouddb_buy','',false);?>" method="post" id="addcart">
        <input type="hidden" id="api_ptype" name="api_ptype" value="clouddb">
        <input type="hidden" id="price" name="price" value="0">
        <input type="hidden" id="config" name="config" value="dx">
        <input type="hidden" id="spacesize" name="spacesize" value="5">
        <input type="hidden" id="memsize" name="memsize" value="">
        <input type="hidden" id="iopss" name="iops" value="">
        <input type="hidden" id="connections" name="connections" value="">
        <input type="hidden" id="version" name="version" value="MySql5.5">
        <input type="hidden" id="istry" name="istry" value="0">
        <input type="hidden" id="dqbh" name="dqbh" value="4001">
        <input type="hidden" id="gmqx" name="gmqx" value="1">
    </form>
</block>
<block name="script">
    <script src="__FRONTEND_JS__gainet.core.js"></script>
    <script src="__FRONTEND_JS__gainet.ui.newslider.ky.js"></script>
    <script>
        var login  = "false"=="true";
        var memoryRe=[{"iops":320,"memory":240,"conentions":60},{"iops":640,"memory":600,"conentions":150},{"iops":1300,"memory":1200,"conentions":300},{"iops":3500,"memory":2400,"conentions":600},{"iops":7000,"memory":6000,"conentions":1500},{"iops":12000,"memory":12000,"conentions":2000}];//内存链接数关系
        var configRe=[{"iops":640,"connections":150,"descrption":"适合用户：行业分类信息，行业性网站，论坛，门户网站，个人站长，初创型中小企业网站","memory":600,"name":"小型","disk":25},{"iops":1300,"connections":300,"descrption":"适合用户：企业品牌类网站，政府官网，社区网站","memory":1200,"name":"中型","disk":100},{"iops":3500,"connections":600,"descrption":"适合用户：网商、团购类网站，视频网站，大型购物网站","memory":2400,"name":"大型","disk":250}];//推荐配置
        var disk=5;
        //初始化内存列表
        var flag = 0;
        for(var i in memoryRe){
            if(flag == 0){
                if(''!=null && ''!=""){
                    if(''=='mini'){
                        if(memoryRe[i].memory==240){
                            setzhi(i,5);
                            disk=5;
                        }
                    }else if(''=='small'){
                        if(memoryRe[i].memory==600){
                            setzhi(i,25);
                            disk=25;
                        }
                    }else if(''=='mid'){
                        if(memoryRe[i].memory==1200){
                            setzhi(i,100);
                            disk=100;
                        }
                    }else if(''=='max'){
                        if(memoryRe[i].memory==2400){
                            setzhi(i,250);
                            disk=250;
                        }
                    }
                }else{
                    if(i==0){
                        setzhi(i,5);
                    }
                }
            }
            $("#showmemul").append("<li><a href='javascript:;'>"+ memoryRe[i].memory+"MB</a></li>");
        }
        $(function(){
            $("#dqbh").val($("#choosejf a").eq(0).attr("dqbh"));
        });
        function setzhi(i,par){
            $("#memsize").val(memoryRe[i].memory);
            $("#connections").val(memoryRe[i].conentions);
            $("#iopss").val(memoryRe[i].iops);
            $("#conn").html(memoryRe[i].conentions);
            $("#iops").html(memoryRe[i].iops);
            $("#showcite").html(memoryRe[i].memory+"MB");
            $(".content-right-title2").eq(1).html(memoryRe[i].memory+"MB");
            $(".content-right-title2").eq(2).html(par+"G");
            $("#spacesize").val(par);
            $("#diskinput").val(par);
        }
        var tdtspace=gainet(".ptop10:eq(1)").slider({"end":{"startwidth":14,"max":1000,"text":"1000G"},"default_":disk,"label":"G","isnumber":false,"isdiy":true,"callback":selectspace});
        var tdt=gainet(".ptop10:eq(2)").slider({"end":{"startwidth":14,"max":36,"text":"3年"},"default":1,"label":"月","isnumber":false,"isdiy":true,"callback":selectshichang});
        function selectspace(val){
            if(val==0){
                val=5;
                tdtspace.setBarValue(val);
            }
            $("#spacesize").val(val);
            $(".content-right-title2").eq(2).html(val+"G");
            /*fuhetrain();*/
            pdpz();
            getBuyPrice($("#memsize").val(),val,$("#dqbh").val(),$("#timeinput").val());
        }
        function selectshichang(val){
            if(val==0){
                val=1;
                tdt.setBarValue(val);
            }
            $(".content-right-title2").eq(3).html(val+"个月");
            $("#gmqx").val(val);
            /*fuhetrain();*/
            if(val==12){
                $(".year-tip").eq(0).show().siblings().hide();
            }else if(val==24){
                $(".year-tip").eq(1).show().siblings().hide();
            }else if(val==36){
                $(".year-tip").eq(2).show().siblings().hide();
            }else{
                $(".year-tip").hide();
            }
            pdpz();
            getBuyPrice($("#memsize").val(),$("#diskinput").val(),$("#dqbh").val(),val);
        }

        function pdpz(){
            if($(".content-right-title2").eq(1).html()=="240MB" && $(".content-right-title2").eq(2).html()=="5G" && $(".content-right-title2").eq(3).html()=="1个月"){
                $("#pzul a").removeClass("liselect");
                $("#pzul a").eq(0).addClass("liselect");
                $(".itemtips").hide();
                $(".itemtips").eq(0).show();
            }else if($(".content-right-title2").eq(1).html()=="600MB" && $(".content-right-title2").eq(2).html()=="25G" &&$(".content-right-title2").eq(3).html()=="1个月"){
                $("#pzul a").removeClass("liselect");
                $("#pzul a").eq(1).addClass("liselect");
                $(".itemtips").hide();
                $(".itemtips").eq(1).show();
            }else if($(".content-right-title2").eq(1).html()=="1200MB" && $(".content-right-title2").eq(2).html()=="100G" &&$(".content-right-title2").eq(3).html()=="1个月"){
                $("#pzul a").removeClass("liselect");
                $("#pzul a").eq(2).addClass("liselect");
                $(".itemtips").hide();
                $(".itemtips").eq(2).show();
            }else if($(".content-right-title2").eq(1).html()=="2400MB" && $(".content-right-title2").eq(2).html()=="250G" &&$(".content-right-title2").eq(3).html()=="1个月"){
                $("#pzul a").removeClass("liselect");
                $("#pzul a").eq(3).addClass("liselect");
                $(".itemtips").hide();
                $(".itemtips").eq(3).show();
            }else{
                $("#pzul a").removeClass("liselect");
            }
        }
        $("#pzul a").click(function(){
            if(!$(this).hasClass("liselect")){
                $("#pzul a").toggleClass("liselect",false);
                $(this).toggleClass("liselect",true);
                $(".itemtips").hide();
                $(".itemtips").eq($("#pzul a").index(this)).show();
                var disk;
                if($(this).html()=="微型"){
                    disk = 240;
                    mem = 5;
                }else if($(this).html()=="小型"){
                    disk = 600;
                    mem = 25;
                }else if($(this).html()=="中型"){
                    disk = 1200;
                    mem = 100;
                }else if($(this).html()=="大型"){
                    disk = 2400;
                    mem = 250;
                }
                for(var i in memoryRe){
                    if(memoryRe[i].memory==disk){
                        setzhi(i,mem);
                        tdtspace.setBarValue(mem);
                        tdt.setBarValue(1);
                        return;
                    }
                }
                pdpz();
                getBuyPrice($("#memsize").val(),$("#spacesize").val(),$("#dqbh").val(),$("#timeinput").val());
            }
        });
        function getBuyPrice(memsize,disk,dqbh,gmqx){
            $("#buy").removeClass("xze-link3").addClass("disabletrain");
            $.ajax({
                url:"<?php echo U('frontend/clouddb/buyPrice','',false);?>",
                data:{"spacesize" :disk,"memsize" : memsize,"dqbh" :dqbh,"gmqx" :gmqx,"config":"dx","istry":0},
                type:"post",
                success:function(data){
                    if(!data.flag){
                        alert("获取价格异常");
                        /*console.log(data.price);*/
                        $(".fwqxh-price").html(0);
                        /*$("#train").removeClass("xze-link4").addClass("disabletrain");*/
                        $("#buy").removeClass("xze-link3").addClass("disabletrain");
                    }else{
                        $(".fwqxh-price").html(data.price);
                        $("#buy").removeClass("disabletrain").addClass("xze-link3");
                    }
                }
            });
        }
        function addcart()
        {
            var data = $("#addcart").serialize();
            $.ajax({
                url:"<?php echo U('frontend/clouddb/clouddb_buy','',false);?>",
                data:data,
                type:"post",
                success:function(data){
                    if(data.status == 1){
                        alert(data.info);
                        setTimeout(function(){window.location.href=data.url;},2500);
                    }else{
                        alert(data.info);
                        setTimeout(function(){window.location.reload();},2500);
                    }
                }
            })
        }
        /*是否符合试用
        function fuhetrain(){
            if($(".content-right-title2").eq(1).html()!="240MB" || $(".content-right-title2").eq(2).html()!="5G" ||$(".content-right-title2").eq(3).html()!="1个月"){
                $("#train").removeClass("xze-link4").addClass("disabletrain");
                return;
            }
            $("#train").removeClass("disabletrain").addClass("xze-link4");
        }*/
        /*申请试用
        $("#train").click(function(){
            if($("#train").hasClass("disabletrain")){
                return;
            }
            $("#price").val($(".fwqxh-price").html());
            $("#train").addClass("disabletrain");
            $("#istry").val(1);
            $("#addcart").submit();
        });*/
        /*确认购买*/
        function buy(){
            if($("#buy").hasClass("disabletrain")){
                return;
            }
            $("#addcart input").each(function(){
                if($(this).val()=="" ||$(this).val()==null){
                    alert("参数异常，请重试");
                    $("#buy").removeClass("xze-link3").addClass("disabletrain");
                    return;
                }
            });
            $("#price").val($(".fwqxh-price").html());
            $("#buy").addClass("disabletrain").html("购买中...");
            $("#istry").val(0);
            addcart();
        }
        /*选择版本*/
        $("#choosebb a").click(function(){
            $("#choosebb a").removeClass("liselect");
            $("#version").val($(this).html());
            $(this).addClass("liselect");
        });
        /*选择机房*/
        $("#choosejf a").click(function(){
            if($("#choosejf a").length==1){
                return;
            }
            $("#choosejf a").removeClass();
            if($(this).html()=="郑州机房"){
                $("#dqbh").val(4001);
            }else if($(this).html()=="香港机房"){
                $("#dqbh").val(4002);
            }
            $("#dqbh").val($(this).html());
            $(this).addClass("liselect");
        });
        /*选择内存*/
        $("#showmemul a").click(function(){
            if($("#showcite").html()!=$(this).html()){
                for(var i in memoryRe){
                    if($(this).html().substring(0,$(this).html().length-2)==memoryRe[i].memory){
                        $("#conn").html(memoryRe[i].conentions);
                        $("#iops").html(memoryRe[i].iops);
                        $("#memsize").val(memoryRe[i].memory);
                        $("#connections").val(memoryRe[i].conentions);
                        $("#iopss").val(memoryRe[i].iops);
                        $(".content-right-title2").eq(1).html($(this).html());
                    }
                }
                /*fuhetrain();*/
                pdpz();
                getBuyPrice($("#memsize").val(),$("#spacesize").val(),$("#dqbh").val(),$("#timeinput").val());
            }
        });
    </script>
</block>