		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__BACKEND_ACEADMIN__js/jquery.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__BACKEND_ACEADMIN__js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='__BACKEND_ACEADMIN__js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__BACKEND_ACEADMIN__js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__BACKEND_ACEADMIN__js/excanvas.min.js"></script>
		<![endif]-->
		<script src="__BACKEND_ACEADMIN__js/jquery-ui.custom.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/jquery.ui.touch-punch.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/jquery.easypiechart.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/jquery.sparkline.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/flot/jquery.flot.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/flot/jquery.flot.pie.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/flot/jquery.flot.resize.min.js"></script>
		<!-- <script src="__BACKEND_ACEADMIN__js/jquery.autosize.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/chosen.jquery.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/jquery.maskedinput.min.js"></script> -->
		<script src="__BACKEND_ACEADMIN__js/bootbox.min.js"></script>
		<script src="__BACKEND_JS__boot-box.js"></script>

				<!-- ace scripts -->
		<script src="__BACKEND_ACEADMIN__js/ace-elements.min.js"></script>
		<script src="__BACKEND_ACEADMIN__js/ace.min.js"></script>
		<script type="text/javascript">

		</script>
