<extend name="Layouts/layout" />

<block name="links">
	<link rel="stylesheet" href="__BACKEND_CSS__table.css" />
	<link rel="stylesheet" href="__BACKEND_ACEADMIN__css/datepicker.css" />
</block>

<block name="content">
		<div class="page-header">
			<h1>
				<i class="fa fa-home"></i> 首页
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					会员管理
					<i class="ace-icon fa fa-angle-double-right"></i>
					会员列表
				</small>
			</h1>
		</div><!-- end/.page-header -->
		<div class=" row">
			<div class="col-xs-12">
		  		<form id="form-search" class="form-inline">
		  			{/* 表格头部的搜索筛选 */}
					<include file="Table/search" />
					<input type="hidden"  name="perpage"  id="perpage" value="<?php echo $per_page;?>"/>
					<?php if( !empty($sorted) ):?>
						<?php foreach($sorted as $k => $v):?>
							<input class="sort-input" type="hidden"
								name="<?php echo $k;?>"
								id="<?php echo $k;?>"
								value="<?php echo empty($request[$k]) ? '': $request[$k];?>"
								/>
						<?php endforeach;?>
					<?php endif;?>

		  		</form>
		  		<div class="space"></div>
				<table id="simple-table" class="table table-hover  table-bordered">
					<thead>

{/* 表格头部/开始 */}

	    <tr>
    	<?php foreach($th as $k => $v ):?>
	        <th>
	        	<?php if( $k == C('SORT_PREFIX').'id' ):?>
	        		<label class="pos-rel">
						<!-- <input type="checkbox" class="ace"> -->
						<span class="lbl"></span>
					</label>
	        	<?php endif;?>
	        	<?php echo $v['display_name'];?>

	        	<?php if($v['sortable'] == true):?>
	        		<?php if( empty( $request[$k]) ):?>
		        		<span class="glyphicon glyphicon-sort" onclick="sort('<?php echo $k;?>', -1)"></span>
	        		<?php elseif( $request[$k] == 1):?>
		        		<span class="glyphicon glyphicon-sort-by-attributes" onclick="sort('<?php echo $k;?>', -1)"></span>
	        		<?php elseif( $request[$k] == -1 ):?>
	    	    		<span class="glyphicon glyphicon-sort-by-attributes-alt" onclick="sort('<?php echo $k;?>', 1)"></span>
	        		<?php endif;?>
	        	<?php endif;?>
	        </th>
        <?php endforeach;?>
	        <th>操作
		        	<a href="<?php echo U('Backend/Member/index', [ ], false);?>">
				    	<span class="glyphicon glyphicon-refresh"></span>
				    </a>
		    </th>
    </tr>

{/* 表格头部/结束 */}
					</thead>

					<tbody>
{/* 表格内容/开始 */}

<?php foreach( $data as $k => $v ):?>
<tr>
	<?php foreach( $th_raw as $kk => $vv ):?>
		<?php if($vv == 'user_id'):?>
			<td class="center">
				<label class="pos-rel">
					<!-- <input type="checkbox" class="ace"> -->
					<span class="lbl"><?php echo $v[$vv]?></span>
				</label>
			</td>
		<?php elseif($vv == 'login_name'):?>
			<td class="center">
				<label class="pos-rel">
					<span class="lbl"><?php echo $v[$vv]?><br /><a target="_blank" href="<?php echo U('Backend/Member/loginMember', [ 'id'=> $v['user_id'] ], false);?>">点我登录前台</a></span>
				</label>
			</td>
		<?php elseif($vv == 'user_name'):?>
			<td class="center">
				<label class="pos-rel">
					<span class="lbl"><a target="_blank" href="<?php echo U('Backend/Member/details', [ 'id'=> $v['user_id'] ], false);?>"><?php echo $v[$vv]?></a></span>
				</label>
			</td>
		<?php else:?>
			<td class="center">
				<label class="pos-rel">
					<?php if( !empty($search[$vv]['data']) ):?>
						<span class="lbl"><?php echo $search[$vv]['data'][$v[$vv]]?></span>
					<?php else:?>
						<span class="lbl"><?php echo $v[$vv]?></span>
					<?php endif;?>
				</label>
			</td>
		<?php endif;?>
	<?php endforeach;?>

<td>
	<a target="_blank" href="<?php echo U('Backend/Member/details/',[ 'id' => $v['user_id'] ],false);?>">详情</a>
	<a href="<?php echo U('Backend/Member/update/',[ 'id' => $v['user_id'] ],false);?>">修改</a>
	<a href="javascript:void(0);" onclick="teller(<?php echo $v['user_id'];?>)">提现/录款</a>
	<?php if( (int)$v['user_state'] == 1 ):?>
		<a href="javascript:void(0);"  onclick="operation('disable', <?php echo $v['user_id'];?>)">禁用</a>
	<?php else:?>
		<a href="javascript:void(0);" onclick="operation('enable', <?php echo $v['user_id'];?>)">启用</a>
	<?php endif;?>
</td>
</tr>

<?php endforeach;?>

{/* 表格内容/结束 */}
					</tbody>
				</table>

						<include file="Layouts/pagination" />
			</div>
		</div>
		<input type="hidden" id="sum-pages"  value="<?php echo $sum_pages;?>" />
		<input type="hidden" id="current-page"  value="<?php echo $current_page;?>" />
		<input type="hidden" id="current-url"  value="<?php echo U('Backend/Member/index', [ ], false);?>" />
</block>

<block name="scripts">

<script src="__COM_JS__pagination.js"></script>
<script src="__BACKEND_JS__table.js"></script>
<script src="__BACKEND_ACEADMIN__js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__BACKEND_ACEADMIN__js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>


<script src="__BACKEND_ACEADMIN__js/jquery.inputlimiter.1.3.1.min.js"></script>
	<script type="text/javascript">

	function teller(uid){
		confirmBox('<form class="bootbox-form" name="teller" id="teller"><select name="operation" id="operation" class="bootbox-input bootbox-input-select form-control"><option value="">请选择录入还是提现</option><option value="1">录入</option><option value="2">提现</option></select><div class="space-4"></div><input placeholder="请输入金额" class="bootbox-input bootbox-input-number form-control" autocomplete="off" type="number" name="amount" id="amount"><div class="space-4"></div><textarea placeholder="请输入备注信息"  class="limited bootbox-input bootbox-input-textarea form-control" id="remark" name="remark" maxlength="100"></textarea></form>', function(){
			var url = "<?php echo U('Backend/Member/teller', [ ], false);?>"+'/id/'+uid;
			console.log($('#teller').serialize());
			$.ajax({
				dataType : "json",
				data: $('#teller').serialize(),
				url : url,
				success : function(data){
					if (data.status == 1) {
						location.reload(true)
					}else {
						alertBox(data.info);
					}
				}
			});
		});
		$('textarea.limited').inputlimiter({
			remText: '还可以在输入%n个字',
			limitText: '最多只允许输入 %n个字.'
		});

	}

		function operation(type, id){
			var url = '';
			if (type == 'disable') {
				url = "<?php echo U('Backend/Member/disable/', '',false);?>/id/"+id;
				confirmBox('您确定要禁用该会员吗？', function(){
					$.ajax({
						type : "get",
						dataType : "json",
						url : url,
						success : function(data){
							if (data.status == 1) {
								location.reload(true)
							}else {
								alertBox(data.info);
							}
						}
					});
				});
			}else if (type == 'enable') {
				url = "<?php echo U('Backend/Member/enable/', '',false);?>/id/"+id;
				confirmBox('您确定要启用该会员吗？', function(){
					$.ajax({
						type : "get",
						dataType : "json",
						url : url,
						success : function(data){
							if (data.status == 1) {
								location.reload(true)
							}else {
								alertBox(data.info);
							}
						}
					});
				});
			}
		}

		$('.date-picker').datepicker({
			language: 'zh-CN',
			autoclose: true,
			todayHighlight: true
		})

	</script>
</block>
