<extend name="Layouts/layout" />

<block name="links">
	<link rel="stylesheet" href="__BACKEND_CSS__table.css" />
	<link rel="stylesheet" href="__BACKEND_ACEADMIN__css/datepicker.css" />
</block>

<block name="content">
		<div class="page-header">
			<h1>
				<i class="fa fa-home"></i> 首页
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					会员管理
					<i class="ace-icon fa fa-angle-double-right"></i>
					会员列表
				</small>
			</h1>
		</div><!-- end/.page-header -->
		<div class=" row">
			<div class="col-xs-12">
		  		<form id="form-search" class="form-inline">
		  			{/* 表格头部的搜索筛选 */}
					<include file="Table/search" />
					<input type="hidden"  name="perpage"  id="perpage" value="<?php echo $per_page;?>"/>
					<?php if( !empty($sorted) ):?>
						<?php foreach($sorted as $k => $v):?>
							<input class="sort-input" type="hidden"
								name="<?php echo $k;?>"
								id="<?php echo $k;?>"
								value="<?php echo empty($request[$k]) ? '': $request[$k];?>"
								/>
						<?php endforeach;?>
					<?php endif;?>

		  		</form>
		  		<div class="space"></div>
				<table id="simple-table" class="table table-hover  table-bordered">
					<thead>

{/* 表格头部/开始 */}

	    <tr>
    	<?php foreach($th as $k => $v ):?>
	        <th>
	        	<?php if( $k == C('SORT_PREFIX').'id' ):?>
	        		<label class="pos-rel">
						<!-- <input type="checkbox" class="ace"> -->
						<span class="lbl"></span>
					</label>
	        	<?php endif;?>
	        	<?php echo $v['display_name'];?>

	        	<?php if($v['sortable'] == true):?>
	        		<?php if( empty( $request[$k]) ):?>
		        		<span class="glyphicon glyphicon-sort" onclick="sort('<?php echo $k;?>', -1)"></span>
	        		<?php elseif( $request[$k] == 1):?>
		        		<span class="glyphicon glyphicon-sort-by-attributes" onclick="sort('<?php echo $k;?>', -1)"></span>
	        		<?php elseif( $request[$k] == -1 ):?>
	    	    		<span class="glyphicon glyphicon-sort-by-attributes-alt" onclick="sort('<?php echo $k;?>', 1)"></span>
	        		<?php endif;?>
	        	<?php endif;?>
	        </th>
        <?php endforeach;?>
	        <th>操作
		        	<a href="<?php echo U('Backend/Member/radio', [ ], false);?>">
				    	<span class="glyphicon glyphicon-refresh"></span>
				    </a>
		    </th>
    </tr>

{/* 表格头部/结束 */}
					</thead>

					<tbody>
{/* 表格内容/开始 */}

<?php foreach( $data as $k => $v ):?>
<tr>
	<?php foreach( $th_raw as $kk => $vv ):?>
		<?php if($vv == 'user_id'):?>
			<td class="center">
				<label class="pos-rel">
					<!-- <input type="checkbox" class="ace"> -->
					<span class="lbl"><?php echo $v[$vv]?></span>
				</label>
			</td>
		<?php else:?>
			<td class="center">
				<label class="pos-rel">
					<?php if( !empty($search[$vv]['data']) ):?>
						<span class="lbl"><?php echo $search[$vv]['data'][$v[$vv]]?></span>
					<?php else:?>
						<span class="lbl"><?php echo $v[$vv]?></span>
					<?php endif;?>
				</label>
			</td>
		<?php endif;?>
	<?php endforeach;?>

<td>
	<a href="javascript:void(0);" onclick="itIsYou(<?php echo $v['user_id'];?>, '<?php echo $v['login_name'];?>')">选择</a>
</td>
</tr>

<?php endforeach;?>

{/* 表格内容/结束 */}
					</tbody>
				</table>

						<include file="Layouts/pagination" />
			</div>
		</div>
		<input type="hidden" id="sum-pages"  value="<?php echo $sum_pages;?>" />
		<input type="hidden" id="current-page"  value="<?php echo $current_page;?>" />
		<input type="hidden" id="current-url"  value="<?php echo U('Backend/Member/radio', [ ], false);?>" />
</block>

<block name="scripts">

<script src="__COM_JS__pagination.js"></script>
<script src="__BACKEND_JS__table.js"></script>
<script src="__BACKEND_ACEADMIN__js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__BACKEND_ACEADMIN__js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>


	<script type="text/javascript">

	function itIsYou(uid, uname){
		confirmBox('您确定选择<span class="text-danger">'+uname+'</span>会员吗？', function(){
			window.opener._callback(uid,uname);
	  	  	window.close();
		});
	}

		$('.date-picker').datepicker({
			language: 'zh-CN',
			autoclose: true,
			todayHighlight: true
		})

	</script>
</block>
