
<div class="masthead clearfix">
  <div class="inner text-center">

    <h3 class="masthead-brand ">景安代理平台--安装引导</h3>
    <ul class="nav masthead-nav">
      <li ><a href="javascript:void(0);">1.欢迎</a></li>
      <li ><a href="javascript:void(0);">2.环境检测</a></li>
      <li ><a href="javascript:void(0);">3.配置安装</a></li>
      <li class="active"><a href="javascript:void(0);">4.完成</a></li>
    </ul>

</div>
</div>


          <div class="inner cover">
    <h1 class="cover-heading">代理平台安装完成</h1>
    <p class="lead">
        <span class="glyphicon glyphicon-bullhorn"></span>
        安装完成
    </p>
    <p><?php echo $info?></p>
    <p class="lead">
      <a target="_blank" href="index.php/Frontend/Index/index" class="btn btn-lg btn-default pull-feft">前台首页 <- </a>
      <a target="_blank" href="index.php/Backend/Index/index" class="btn btn-lg btn-default pull-feft"> -> 后台管理</a>
    </p>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>版权所有：<a target="_blank" href="http://www.zzidc.com">郑州市景安网络科技股份有限公司</a> &nbsp;&nbsp;&nbsp;&nbsp;Powered By： <a <a target="_blank" href="http://www.zzidc.com">@景安网络-代理平台项目组</a>.</p>
            </div>
          </div>
