<extend name="Layouts/layout" />

<block name="links">

</block>

<block name="content">

		<div class="page-header">
			<h1>
				<i class="fa fa-home"></i> 首页
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					订单管理
					<i class="ace-icon fa fa-angle-double-right"></i>
					<a href="<?php echo U('Backend/Order/index', [  ], false);?>">订单列表</a>
					&amp; 订单详情
				</small>
				<a class="btn btn-info btn-sm btn-white pull-right" href="<?php echo U('Backend/Order/index', [  ], false);?>">订单列表</a>
			</h1>
		</div><!-- end/.page-header -->



	<div class="row">
		<div class="col-xs-12">



	<form class="form-horizontal" action="" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="id">
				订单编号
			</label>

			<div class="col-sm-9">

				<input type="text" readonly="readonly" disable="disable"  id="id"  value="<?php echo $entity['id'];?>" class="col-xs-10 col-sm-5">
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="user_id">
				会员名称
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  id="user_id" name="user_id"  value="<?php echo $entity['user_id'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

				<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="order_type">
				订单类型
			 </label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  id="order_type" name="order_type"  value="<?php echo $searchable['order_type']['data'][$entity['order_type']];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

				<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="state">
				 订单状态
			 </label>

			<div class="col-sm-9">
			<input type="text" readonly="readonly" disable="disable"  id="state" name="state"  value="<?php echo $searchable['state']['data'][$entity['state']];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

				<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="charge">

				金额
			 </label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="charge"  id="charge"   value="<?php echo $entity['charge'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="business_id">
				业务标识
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="business_id"  id="business_id"   value="<?php echo $entity['business_id'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>


		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="api_id">

				GIANT订单ID
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="api_id"  id="api_id"   value="<?php echo $entity['api_id'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>


		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="product_name">

				产品名称
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="product_name"  id="product_name"   value="<?php echo $entity['product_name'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="free_trial">

				购买/试用
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="free_trial"  id="free_trial"   value="<?php echo $searchable['free_trial']['data'][$entity['free_trial']];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>


		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="create_time">

				下单时间
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="create_time"  id="create_time"   value="<?php echo $entity['create_time'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="order_quantity">

				订购数量
			</label>

			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="order_quantity"  id="order_quantity"   value="<?php echo $entity['order_quantity'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="beizhu">备注说明</label>
			<div class="col-sm-9">
				<textarea readonly="readonly" disable="disable"  class="limited col-xs-10 col-sm-5" id="beizhu" name="beizhu" maxlength="100"><?php echo $entity['beizhu'];?></textarea>
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"  for="order_log">日志记录</label>
			<div class="col-sm-9">
				<input type="text" readonly="readonly" disable="disable"  name="business_id"  id="business_id"   value="<?php echo $entity['business_id'];?>" class="col-xs-10 col-sm-5">
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle"></span>
				</span>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<a  href="<?php echo U('Backend/Order/index', [  ], false);?>">
					<span class="glyphicon glyphicon-repeat"></span>
					返回
				</a>
			</div>
		</div>
		</form>




		</div>
	</div>
</block>

<block name="scripts">

<script type="text/javascript">

</script>

</block>
