<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>景安代理平台--安装程序</title>

        <include file="Layouts/header" />
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container" id="container">

          <div class="masthead clearfix">
            <div class="inner text-center">

                <block name="header"></block>

            </div>
          </div>

          <div class="inner cover">

              <block name="content"></block>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>版权所有：<a target="_blank" href="http://www.zzidc.com">郑州市景安网络科技股份有限公司</a> &nbsp;&nbsp;&nbsp;&nbsp;Powered By： <a <a target="_blank" href="http://www.zzidc.com">@景安网络-代理平台项目组</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <include file="Layouts/scripts" />
    <block name="scripts"></block>
  </body>
</html>
