<form class="form-horizontal" id="form-custom" action="<?php echo U('Backend/System/configure', [], false);?>" method="post" name="form-custom"  role="form">

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_trial_times">
            试用产品次数：
        </label>
        <div class="col-sm-9">
            <input type="number"  name="site_trial_times"  id="site_trial_times"   value="<?php echo $basic_info['site_trial_times'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">试用次数限制</span>
            </span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_reviewed">
            免费主机购买数量：
        </label>
        <div class="col-sm-9">
            <input type="number"  name="site_buy_times"  id="site_buy_times"   value="<?php echo $basic_info['site_buy_times'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">免费主机购买次数限制</span>
            </span>
        </div>
    </div>

    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_reviewed">
            虚拟主机试用审核：
        </label>
        <div class="col-sm-9">
            <select class="col-xs-10 col-sm-5" name="site_reviewed" id="site_reviewed">
                <option value="yes" <?php if($basic_info['site_reviewed'] == 'yes'):?> selected="selected" <?php endif;?> >审核</option>
                <option value="no" <?php if($basic_info['site_reviewed'] == 'no'):?> selected="selected" <?php endif;?>>不审核</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle"></span>
            </span>
        </div>
    </div>
    <hr/>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_buy_vps">
            VPS&快云VPS是否使用快云币和创业基金：
        </label>
        <div class="col-sm-9">
            <!--<input type="number" name="site_buy_vps" id="site_buy_vps" value="<?php echo $basic_info['site_buy_vps'];?>" class="col-xs-10 col-sm-5">-->
            <select class="col-xs-10 col-sm-5" name="site_buy_vps" id="site_buy_vps">
                <option value="0" <?php if($basic_info['site_buy_vps'] == 0):?> selected="selected" <?php endif;?>>0</option>
                <option value="1" <?php if($basic_info['site_buy_vps'] == 1):?> selected="selected" <?php endif;?>>1</option>
                <option value="2" <?php if($basic_info['site_buy_vps'] == 2):?> selected="selected" <?php endif;?>>2</option>
                <option value="3" <?php if($basic_info['site_buy_vps'] == 3):?> selected="selected" <?php endif;?>>3</option>
                <option value="4" <?php if($basic_info['site_buy_vps'] == 4):?> selected="selected" <?php endif;?>>4</option>
            </select>
            <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="0只使用创业基金(默认)<br/>1只使用快云币<br/>2先使用快云币，如果没有快云币则使用创业基金<br/>3先使用创业基金，如果没有创业基金则使用快云币<br/>4都不使用<br/>注：创业基金和快云币不能同时使用" title="" data-original-title="VPS&快云VPS使用快云币和创业基金说明 (VPS&快云VPS购买续费使用)">?</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_buy_cloud">
            快云服务器&快云数据库是否使用快云币：
        </label>
        <div class="col-sm-9">
            <input type="number" name="site_buy_cloud" id="site_buy_cloud" value="<?php echo $basic_info['site_buy_cloud'];?>" class="col-xs-10 col-sm-5">
            <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="小于0 不使用快云币(默认)<br/>等于0 先使用账户中的快云币再扣钱<br/>大于0 指定使用多少快云币，如指定的快云币超出限额，则按0的情况处理<br/>注：快云服务器&快云数据库不能使用创业基金" title="" data-original-title="快云服务器&快云数据库使用快云币说明 (快云服务器&快云数据库购买续费和快云服务器IP升级使用)">?</span>
            <span>请输入整数，非数字、-0或小于0则默认为-1,小数进一取整</span>
        </div>
    </div>
	<hr/>
	<div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_reviewed">
            是否开启白名单设置：
        </label>
        <div class="col-sm-9">
            <select class="col-xs-10 col-sm-5" name="white_list" id="white_list">
                <option value="yes" <?php if($basic_info['white_list'] == 'yes'):?> selected="selected" <?php endif;?> >开启</option>
                <option value="no" <?php if($basic_info['white_list'] == 'no'):?> selected="selected" <?php endif;?>>关闭</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">首页导航是否展示白名单链接</span>
            </span>
        </div>
    </div>
    
	
	 <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_trial_times">
            白名单IP设置：
        </label>
        <div class="col-sm-9">
            <input type="text"  name="white_ip"  id="white_ip"   value="<?php echo $basic_info['white_ip'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">申请白名单设置填写的IP地址</span>
            </span>
        </div>
    </div>
    
     <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"  for="site_trial_times">
            白名单接口密匙：
        </label>
        <div class="col-sm-9">
            <input type="text"  name="white_key"  id="white_key"   value="<?php echo $basic_info['white_key'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">申请白名单接口密匙</span>
            </span>
        </div>
    </div>
    

	
    
	
	
    <div class="space-4"></div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <a class="btn btn-info" onclick="configure('custom')" >
                <i class="ace-icon fa fa-check bigger-110"></i>
                修改
            </a>
        </div>
    </div>

</form>
