<form class="form-horizontal" id="form-contact" action="<?php echo U('Backend/System/configure', [], false);?>" method="post" name="form-contact"  role="form">

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_telphone">
            联系电话或手机号：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_telphone" name="site_telphone"  value="<?php echo $basic_info['site_telphone'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">区号-电话号码,如：0371-96****1、400-***-2***。手机号码为11位</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_fax">
            传真号码：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_fax" name="site_fax"  value="<?php echo $basic_info['site_fax'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">格式要求同电话号码</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_mail">
            邮箱地址：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_mail" name="site_mail"  value="<?php echo $basic_info['site_mail'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">首页底部邮箱地址</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_qq">
            客服QQ 1：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_qq" name="site_qq"  value="<?php echo $basic_info['site_qq'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">客服QQ 1（首页右侧浮动QQ）</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_qq2">
            客服QQ 2：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_qq2" name="site_qq2"  value="<?php echo $basic_info['site_qq2'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">客服QQ 2（首页底部二维码下第一个显示）</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="site_qq3">
            客服QQ 3：
        </label>
        <div class="col-sm-8">
            <input type="text" id="site_qq3" name="site_qq3"  value="<?php echo $basic_info['site_qq3'];?>" class="col-xs-10 col-sm-5">
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="middle">客服QQ 3（首页底部二维码下第二个显示）</span>
            </span>
        </div>
    </div>


                    <div class="space-4"></div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <a class="btn btn-info" onclick="configure('contact')" >
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                修改
                            </a>
                        </div>
                    </div>

</form>
