<extend name="Hyzx/member" />
<block name="links"></block>
<block name="right">
	<div class="crumb-container" data-nav="phoenix">
		<ol class="breadcrumb ky-crumb">
			<li><a href="<?php echo U('frontend/member/index', '', false);?>" class="crumb-home">会员中心</a></li>
			<li><a>域名管理</a></li>
		</ol>
	</div>
	<div class="">
		<div class="conseole-ky-fuwuqi">
			<div class="ky-panel-heading clearfix">
				<div class="ky-panel-title">域名</div>
				<a href="<?php echo U('frontend/Help/help_retrieval',[keywords=>'域名'],false);?>" target="_blank" class="server-help pull-right">域名帮助文档</a>
			</div>
			<div class="ky-panel-body">
				<div class="ky-tabs-container clearfix margin-bottom-20">
					<ul class="text-center pull-left clearfix">
						<li class="ky-tab ky-tab--current"><a>域名</a></li>
					</ul>
				</div>
				<div class="server-operates clearfix margin-bottom-20">
					<form action="<?php echo U('frontend/domain/domainlist', '', false);?>"  class="pull-left" method="post"  id="searchFrom">
						<input type="text"  name="select"  class="pull-left ky-input-reset search-group-input" placeholder="输入域名、备注">
						<input type="submit" class="pull-left ky-btn btn-huise btn-primary-search" value="">
					</form>
				</div>
				<table class="ky-table margin-bottom-20">
					<thead>
					<tr>
						<th width="8%">业务编号</th>
						<th width="17%">域名</th>
						<th width="10%">域名注册商</th>
						<th width="14%">产品名称/类型</th>
						<if condition="$Think.get.order eq DESC">
							<th width="20%">开通日期/到期日期<a  href="<?php echo U('frontend/domain/domainlist', [ 'order'=>'ASC'], false);?>"  class="filter-icon"></a></th>
							<else/>
							<th width="20%">开通日期/到期日期<a  href="<?php echo U('frontend/domain/domainlist', [ 'order'=>'DESC'], false);?>"  class="filter-icon"></a></th>
						</if>
						<th width="13%">操作</th>
					</tr>
					</thead>
					<volist name="info"  id="data">
						<tbody>
						<tr>
							<td><p>{$data.api_bid}</p></td>
							<td class="ky-td-multi-lines">
								<div class="text-stress">域名：{$data.domain_name}</div>
								<div>
                                    备注：<span id="bz_{$data.yid}"><if condition="$data.beizhu eq null">未备注,添加备注信息<else/>{$data.beizhu}</if></span>
									<input  type="hidden"  value="{$data.beizhu}"  id="remark_{$data.yid}"/>
									<a href="javascript:void(0);" class="change-name edit-name margin-left-10" title="修改备注"  onclick="changeMarkdb('{$data.yid}')"></a>
								</div>
							</td>
							<td>
								<p>{$data.provider}</p>
								<if condition="$data.state == 1">
									<span class="text-success ny-state-icon server-state-run">正常</span>
									<elseif condition="$data.state == 0"/>
									<span class="text-success ny-state-icon server-state-stop">无效</span>
								</if>
							</td>
							<td class="ky-td-multi-lines">
								<div class="text-muted">
									<span>产品名称：{$data.product_name}</span>
								</div>
								<div class="text-muted">
									<span>类型：<if condition="$data.api_ptype == cndomain">中文域名<elseif condition="$data.api_ptype == endomain"/>英文域名</if></span>
								</div>
							</td>
							<td class="ky-td-multi-lines">
								<div class="text-stress">开通时间：{$data.create_time}</div>
								<div class="text-stress">到期时间：{$data.overdue_time}</div>
							</td>
							<td class="ky-td-multi-lines">
								<if condition="$data.state == 1">
									<div>
										<a href="javascript:void(0);" onclick="panel('{$data.api_bid}')">管理</a>
										<span class="text-muted operate-spacing">|</span>
										<a href="<?php echo  U('frontend/domain/domain_renewals' ,['domain_id'=>$data['yid']],false);?>">续费</a>
										<span class="text-muted operate-spacing">|</span>
										<a href="javascript:void(0);" onclick="tbajax(this)" url="<?php echo U('frontend/domain/memberSync',['business_id'=>$data['api_bid'],'ptype'=>'domain'],false);?>">同步</a>
									</div>
									<else/>
									— —
								</if>
							</td>
						</tr>
						</tbody>
					</volist>
					<empty name="info">
						<tbody>
						<tr>
							<th colspan="7">
								<p>您好像没有相关产品哦，<a href="<?php echo U('frontend/domain/domain','',false);?>" class="g009">点此了解一下吧！</a></p>
							</th>
						</tr>
						</tbody>
					</empty>
				</table>
				<!-- 引入分页 -->
				<include file="Hyzx/member_page" />
			</div>
		</div>
	</div>
	<div  id="dialog"  title="备注信息" style="display: none">
		<div class="cipan clearfix">
			<ul>
				<li>
					<div class="dd">
						<textarea rows="4" cols="40"  id="remark" style="resize: none"></textarea>
					</div>
				</li>
			</ul>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
	var tooken = true;
	 function tbajax(tb)
     {
         if(tooken)
         {
             tooken = false;
             var url = $(tb).attr("url");
             $.post(url,function(data){
                 alert(data.info);
                 setTimeout(function(){window.location.reload();},1500);
             },'json');
         }
     }
		function changeMarkdb(id) {
            var remark = $("#bz_" + id).val();
            if (remark == "" || remark == null) {
                $("#remark").val("请输入备注信息");
            } else {
                $("#remark").val(remark);
            }
            $("#dialog").dialog({
                autoOpen: true,
                modal: true,
                resizable: false,
                width: 400,
                buttons: [{
                    text: "确认",
                    click: function () {
                            var bz = $("#remark").val();
                            $.post('<?php echo U("frontend/domain/remark",array(),false)?>', {
                                "remark": bz,
                                "id": id
                            }, function (date) {
                                if (date == "ok") {
									$("#bz_"+id).text(bz);
                                    alert('成功');
                                } else {
                                    alert('失败');
                                }
                            }, 'json');
                            $(this).dialog("close");
                    }
                }, {
                    text: "重置",
                    click: function () {
                        document.getElementById("remark").value = "";
                    }
                }, {
                    text: "取消",
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
        }
		$(function(){
			$( ".bz" ).on('click',function( event ) {
				$( "#dialog" ).dialog( "open" );
			});
		});
		/*跳转中国数据控制面板*/
    function panel(bid) {
        var url = "";
        $.ajaxSetup({async : false});
        $.post('<?php echo U("frontend/domain/panel",[],false)?>', {"business_id": bid}, function (date) {
            if (date.status == "ok") {
                url = date.url;
            } else {
                alert('跳转失败，请联系网站管理员');
            }
        }, 'json');
        if(url != ""){
            window.open("http://" + url,'_blank');
        }
    }
	</script>
</block>